.Oneproduct {
width: 100%;
    height: fit-content;
    background-color: #DDE6ED;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 20px;
}

.Oneproduct  .left h2{
margin: 27px 00px;
    color: #27374D
}
.Oneproduct  .left span{
margin: 16px 0px;
    display: block;
    color: #00000082;
    font-size: 15px;
}
.Oneproduct  img{
  height: 70%;
  border-radius: 15px;
}

@media(max-width:570px){
    .Oneproduct .left{
        display: flex;
            flex-direction: column;
            text-align: center;
    }
    .Oneproduct {
       flex-direction:column-reverse;
        }
                          .Oneproduct img {
                              height: 110px;
                          }
                                .Oneproduct .left h2 {
                                    margin: 9px 00px;
                                    color: #27374D;
                                }
}
.Oneproduct .Shop_Now{
display: block;
    width: 91%;
    margin-bottom: 10px;
    width: fit-content;
}